{% extends 'core/base.html' %} {% load static %} {% block content %}
<div class="text-center mb-5">
    <h1 class="display-4 fw-bold">Mi app de alimentación saludable</h1>
</div>

<div class="row g-4 g-lg-5 align-items-center mb-5">
    <div class="col-lg-7">
        <img src="{% static 'core/img/alimentacion-saludable.jpg' %}" alt="imagen"
            class="img-fluid rounded shadow-lg" />
    </div>
    <div class="col-lg-5">
        <h2 class="fw-bold mb-3">Registro de consumo de alimentos y calorías</h2>
        <p class="lead mb-4">
            He desarrollado una aplicación para el registro del consumo de alimentos
            por usuario. Se pueden registrar alimentos con su tipo y cantidad de
            calorías. Luego cada usuario puede visualizar también su cálculo de
            consumo de calorías y comparar con su meta diaria.
        </p>
        <a class="btn btn-primary btn-lg" href="#!">¡Comienza Ahora!</a>
    </div>
</div>

<div class="card bg-primary text-white my-5 shadow">
    <div class="card-body p-5 text-center">
        <h3 class="fw-light mb-0">Recetas saludables</h3>
    </div>
</div>

<div class="row g-4">
    {% include 'core/componentes/card.html' with titulo="Pollo a la mostaza" contenido="Receta contenido" %}
    {% include 'core/componentes/card.html' with titulo="Panache de vegetales" %}
    {% include 'core/componentes/card.html' %}
    {% include 'core/componentes/card.html' %}
    {% include 'core/componentes/card.html' %}
    {% include 'core/componentes/card.html' %}
    {% include 'core/componentes/card.html' %}
    {% include 'core/componentes/card.html' %}
</div>
{% endblock content %}